################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Linq_Basics/.vs/Linq_Basics.slnx
/IEnumberable_IQueryable_LINQ
/LINQ_Extensionmethod/LINQ_Extensionmethod/LINQ_Extensionmethod.csproj
