################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Linq_Basics/.vs/Linq_Basics.slnx
